html {
    scroll-behavior: smooth;
}

html body {
    color: #333 !important;
    background-color: #f0f1f5;

    .no-decoration {
        text-decoration: none;
    }

    // .q-drawer-container:nth-child(odd) > .q-drawer--left {
    //     margin-left: 65px !important;
    //     background: transparent;
    // }

    .app-active--link {
        font-weight: 500;
        color: rgb(88, 101, 246) !important;
        background-color: rgba(88, 101, 246, 0.1);
    }

    // tbody tr:nth-child(even) {
    //     background-color: rgba(236, 240, 241, 0.3);
    // }

    // table {
    //     .q-table__top,
    //     .q-table__bottom,
    //     thead tr:first-child th {
    //         /* bg color is important for th; just specify one */
    //         background-color: #fff;
    //         // font-weight: 600;
    //         font-size: 13px;
    //     }
    // }

    // .sticky-table {
    //     /* height or max-height is important */
    //     max-height: 180px;

    //     thead tr th {
    //         position: sticky;
    //         z-index: 1;
    //     }

    //     /* this will be the loading indicator */
    //     thead tr:last-child th {
    //         /* height of all previous header rows */
    //         top: 48px;
    //     }

    //     thead tr:first-child th {
    //         top: 0;
    //     }

    //     /* prevent scrolling behind sticky top row on focus */
    //     tbody {
    //         /* height of all previous header rows */
    //         scroll-margin-top: 48px;
    //     }
    // }

    // .table-cta {
    //     &:hover {
    //         border-bottom: 1px solid #5865f6;
    //     }
    // }

    // a.soft-link {
    //     text-decoration: none;
    //     color: rgba(88, 101, 246, 0.9);

    //     &:hover {
    //         color: rgba(88, 101, 246, 1) !important;
    //         text-decoration: underline;
    //     }
    // }

    // .select-popup {
    //     max-height: 400px;
    // }

    .fade-primary {
        font-weight: 500;
        color: rgb(88, 101, 246, 0.9) !important;
        border: 1px solid rgba(88, 101, 246, 0.2);
        background-color: rgba(88, 101, 246, 0.1) !important;
    }

    .fade-secondary {
        font-weight: 500;
        color: rgb(246, 88, 101, 0.9) !important;
        border: 1px solid rgba(246, 88, 101, 0.2);
        background-color: rgba(246, 88, 101, 0.1) !important;
    }

    .fade-accent {
        font-weight: 500;
        color: rgb(0, 161, 212, 0.9) !important;
        border: 1px solid rgba(0, 161, 212, 0.2);
        background-color: rgba(0, 161, 212, 0.1) !important;
    }

    // .fade-warning {
    //     font-weight: 500;
    //     color: rgb(242, 192, 55, 0.9) !important;
    //     border: 1px solid rgba(242, 192, 55, 0.2);
    //     background-color: rgba(242, 192, 55, 0.1) !important;
    // }

    // .fade-rael {
    //     font-weight: 500;
    //     color: rgba(155, 89, 182, 0.9) !important;
    //     border: 1px solid rgba(155, 89, 182, 0.2);
    //     background-color: rgba(155, 89, 182, 0.1) !important;
    // }

    // .fade-positive {
    //     font-weight: 500;
    //     color: rgb(22, 160, 133, 0.9) !important;
    //     border: 1px solid rgba(22, 160, 133, 0.2);
    //     background-color: rgba(22, 160, 133, 0.1) !important;
    // }

    // .fade-negative {
    //     font-weight: 500;
    //     color: rgb(231, 76, 60, 0.9) !important;
    //     border: 1px solid rgba(231, 76, 60, 0.2);
    //     background-color: rgba(231, 76, 60, 0.1) !important;
    // }

    .app--link {
        color: #5865f6;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .text-caption {
        letter-spacing: normal !important;
    }
}
