// Layout
// $layout-border: #e0e0e0 !default

// Theme colors
$primary: #5865f6
$secondary: #F65865
$accent: #F6A658

$positive: #16a085
$negative: #e74c3c
$warning: #f1c40f
$info: #3498db

$button-border-radius: 10px !default
$generic-border-radius: 8px !default

// Font styling
$typography-font-family: "Nunito", "Open Sans", "Figtree", roboto, sans-serif !important
